@inject SinGooCMS.Domain.Interface.ICMSContext context;
@{
    Layout = "~/views/platform/h5/MasterPage/MasterDefault.cshtml"; //母版页
}

<form singoo-data-ajax="true" singoo-data-list="true">
    <div class="top-fix clear-fix">
        <div class="clear-fix">
            <ul class="btn-group clear-fix">
                <li>
                    <label class="label-box" for="checkall">
                        <input type="checkbox" class="common-check" id="checkall" />
                        <span></span>全选
                    </label>
                </li>
                <li>
                    <a singoo-action="BatDelete"><i class='iconfont'>&#xe6eb;</i><span>删除</span></a>
                </li>
            </ul>
            <ul class="btn-group clear-fix">                
                <li>
                    <a singoo-action="ExportToExcel" singoo-data-url="/platform/UserMger/ExportToExcel"><i class='iconfont'>&#xe610;</i><span>导出数据</span></a>
                </li>                
            </ul>
            <ul class="btn-group clear-fix">
                <li class="blue">
                    <a class="tab-a" href="/platform/UserMger/Edit?Action=Add&GroupID=@(ViewBag.GroupID)">
                        <i class="iconfont">&#xe611;</i><span>添加会员</span>
                    </a>
                </li> 
            </ul>
            <div class="search-box focus-item fr">
                <input name="key" singoo-search-item="true" type="text" placeholder="请输入会员名称" />
                <input type="button" singoo-action="Search" name="searchbtn" value="&#xe60a;" class="search-btn iconfont" />
            </div>
        </div>
    </div>
    <table class="tab-con" style="margin-top: 50px;" id="rowItems">
        <tr class="tab-title">
            <td style="width: 60px;"></td>
            <td>
                会员名称
            </td>
            <td>
                邮箱地址
            </td>
            <td>
                手机号码
            </td>
            <td>
                登录次数
            </td>
            <td>
                最后登录时间
            </td>
            <td>
                状态
            </td>
            <td style="width: 80px;">
                操作
            </td>
        </tr>
        <tbody id="singoo-content"></tbody>
        <script id="singoo-template" type="text/html">
            {{#data}}
            <tr>
                <td>
                    <label>
                        <input name="chk" type="checkbox" class="common-check" value="{{AutoID}}" />
                        <span></span>
                    </label>
                    <input type="hidden" name="AutoID" value="{{AutoID}}" />
                </td>
                <td>
                    [#{{AutoID}}] {{UserName}}
                </td>
                <td class="short-input">
                    {{Email}}
                </td>
                <td>
                    {{Mobile}}
                </td>
                <td>
                    {{LoginCount}}
                </td>
                <td>
                    {{LastLoginTime}}
                </td>
                <td>
                    {{{StatusExt}}}
                </td>
                <td>
                    <div class="icon-btn clear-fix">
                        <a class="tab-a" href="/platform/UserMger/Edit?Action=Modify&GroupID=@(ViewBag.GroupID)&opid={{AutoID}}">
                            <span class="iconfont">&#xe67f;</span><i>编辑会员</i>
                        </a>
                        <a singoo-action="Delete" singoo-data-id="{{AutoID}}" class="iconfont">&#xe6eb;<i>删除</i></a>
                    </div>
                </td>
            </tr>
            {{/data}}
            {{^data}}
            <tr><td colspan='8'> 没有找到任何数据</td></tr>
            {{/data}}
        </script>
    </table>
    <!--分页 start-->
    <div id="singoo-pager"></div>
    <!--分页 end-->
</form>