@inject SinGooCMS.Domain.Interface.ICMSContext context;
@{
    Layout = "~/views/platform/h5/MasterPage/MasterDefault.cshtml"; //母版页
}

<form method="post" singoo-data-ajax="true" singoo-data-list="true">
    <div class="top-fix clear-fix">
        <div class="clear-fix">
            <ul class="btn-group clear-fix">
                <li>
                    <label class="label-box" for="checkall">
                        <input type="checkbox" class="common-check" id="checkall" />
                        <span></span>全选
                    </label>
                </li>
                <li>
                    <a singoo-action="BatDelete"><i class='iconfont'>&#xe6eb;</i><span>删除</span></a>
                </li>
            </ul>
            <ul class="btn-group clear-fix">
                @if (!context.SiteConfig.VisitRec)
                {
                    <li>
                        <span style="float: left; padding: 5px; color: Red; font-weight: bold;">
                            请注意：采集来访客户信息设置未开启
                        </span>
                    </li>
                }
            </ul>
            <div class="search-box focus-item fr">
                <input name="key" singoo-search-item="true" type="text" placeholder="来路页或者访问页" />
                <input type="button" singoo-action="Search" name="searchbtn" value="&#xe60a;" class="search-btn iconfont" />
            </div>
        </div>
    </div>
    <table class="tab-con" style="margin-top: 50px;" id="rowItems">
        <tr class="tab-title">
            <td style="width: 60px;">
                <label>
                    <input type="checkbox" id="checkall" class="common-check" />
                    <span></span>
                </label>
            </td>
            <td>
                IP
            </td>
            <td style="max-width:300px;">
                来路页
            </td>
            <td style="max-width:300px;">
                访问页
            </td>
            <td style="width: 150px;">
                访问时间
            </td>
            <td style="width: 50px;">
                操作
            </td>
        </tr>
        <tbody id="singoo-content"></tbody>
        <script id="singoo-template" type="text/html">
            {{#data}}
            <tr>
                <td>
                    <label>
                        <input name="chk" type="checkbox" class="common-check" value="{{AutoID}}" />
                        <span></span>
                    </label>
                    <input type="hidden" name="AutoID" value="{{AutoID}}" />
                </td>
                <td>
                    {{IPAddress}}
                </td>
                <td style="max-width:300px;">
                    {{ApproachUrl}}
                </td>
                <td style="max-width:300px;">
                    {{VPage}}
                </td>
                <td>
                    {{AutoTimeStamp}}
                </td>
                <td>
                    <div class="icon-btn clear-fix">
                        <a class="tab-a" href="/platform/VisitorLog/Detail?opid={{AutoID}}">
                            <span class="iconfont">&#xe69a;</span><i>日志详情</i>
                        </a>
                    </div>
                </td>
            </tr>
            {{/data}}
            {{^data}}
            <tr><td colspan='6'> 没有找到任何数据</td></tr>
            {{/data}}
        </script>
    </table>
    <!--分页 start-->
    <div id="singoo-pager"></div>
    <!--分页 end-->
</form>