html,body {
	height:100%;
}
body {
	overflow:hidden;
}
#page-tab,#page-tab *{
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
}
#page-tab,#page-tab #page-tab-content,#page-tab .tab-btn,#page-tab #page-operation,#page-tab #menu-list,#page-tab #menu-list a {
	height:30px;
	line-height:30px;
}
#page-tab {
	width:100%;
	position:relative;
	line-height:30px;
	border-left: 1px solid #ddd;
}
#page-tab-content {
	width:100000px;
	overflow:hidden;
	background-color:#efefef;
	position: relative;
	z-index: 1;
}
#page-tab button {
	background:#fff;
	border:0;
	cursor:default;
}
#page-tab .tab-btn,#page-tab #page-operation {
	position:absolute;
	width:30px;
	text-align:center;
	color:#999;
	z-index:2;
	top:0;
	background: #efefef;
}
#page-tab #page-prev {
	right:60px;
	border:1px solid #ddd;
	background-position:5px 50%;
	background-size:20px;
	background-repeat:no-repeat;
	z-index: 10;
	cursor: pointer;
}
#page-tab #page-next {
	right:30px;
	border-top: 1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-position:5px 50%;
	background-size:20px;
	background-repeat:no-repeat;
	z-index: 10;
	cursor: pointer;
}
#page-tab #page-operation {
	right:0;
	width:30px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background-position:5px 50%;
	background-size:16px;
	background-repeat:no-repeat;
	background-color:#efefef;
	cursor: pointer;
	z-index: 10;
}
#page-tab #page-operation:hover {
	background-color:#f1f0f0;
}
#page-tab #menu-list {
	float:left;
	border-top: 1px solid #ddd;
	position: relative;
}
#page-tab #menu-list a {
	float:left;
	text-decoration:none;
	padding:0 25px 0 10px;
	border-right:1px solid #ddd;
	color:#999;
	font-size:12px;
	cursor:pointer;
	background: #eee;
	background-color:#eee;
	transition:background-color .5s;
	-moz-transition:background-color .5s;
	-webkit-transition:background-color .5s;
	-o-transition:background-color .5s;
	position: relative;
}
#page-tab #menu-list a span{
	max-width: 58px;
	display: inline-block;
	overflow: hidden;

}
#page-tab #menu-list a.active {
	background-color:#fff;
	box-sizing: border-box;
	position: relative;
	z-index: 5;
	border-bottom: 1px solid #fff;
	transition:color .5s;
	-moz-transition:color .5s;
	-webkit-transition:color .5s;
	-o-transition:color .5s;
	transition:background-color .5s;
	-moz-transition:background-color .5s;
	-webkit-transition:background-color .5s;
	-o-transition:background-color .5s;
	border-top:1px solid #00c1de;
}
#page-tab .menu-close {
	display:inline-block;
	width: 15px;
	height: 15px;
	background-size:16px;
	background-repeat:no-repeat;
	vertical-align:middle;
	// margin-left:5px;
	// margin-top:-2px;
	position: absolute;
	top: 8px;
	right: 5px;
	overflow: hidden;
	line-height: 15px;
	font-size: 12px;
	text-align: center;
	z-index: 10;
}
#menu-list a:first-child i{
	visibility: hidden;
}
#menu-list a:first-child{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
#page-tab .menu-close:hover{
	background: #00c1de;
	color: #fff;
	border-radius: 50%;
	overflow: hidden;
}
#page-tab .menu-close:hover{
	opacity: 0.6;
	filter:Alpha(opacity=60);
}

#menu-all {
	width:175px;
	border:1px solid #000;
	position:absolute;
	right:0;
	z-index:100;
	min-height:25px;
	padding:1px;
	overflow-y:auto;
	display:none;
	max-height:380px;
	top:31px;
	background-color:#fff;
}
#menu-all #menu-all-ul {
	width:100%;
	height:100%;
}
#menu-all #menu-all-ul li {
	list-style:none;
	cursor:pointer;
	overflow:hidden;
	font-size:12px;
}
#menu-all #menu-all-ul li.active {
	background-color:#333;
	color:#fff;
}
#menu-all #menu-all-ul li:not(.active):hover {
	background-color:#f1f0f0;
}
#page-content {
	width:100%;
	height:100%;
	overflow:hidden;
	border: 1px solid #ddd;
	position: relative;
	top: -1px;
	background-color: #fff;
}
#page-content .iframe-content {
	width:100%;
	height:100%;
	border:0;
	padding: 15px 10px;
	display:none;
}
#page-content .active {
	display:block;
}

.menu-all-btn{
	display: block;
	text-align: center;
}
#wrapper{
	position: absolute;
	display: none;
	z-index: 9999;
	background-color: #f3f3f3;
	border:1px solid #D3D3D3;
	color: #444;
	width:130px;
	font-size: 12px;
	overflow: hidden;
}

#wrapper .wrapper-li{line-height: 24px;padding:2px;padding-left:30px;cursor: pointer;position: relative;z-index: 9999;}
#wrapper .wrapper-li:hover{background-color:#D3D3D3;}
#wrapper .wrapper-line{margin: 3px 0 3px 25px;font-size: 1px;border-top: 1px solid #ccc;border-bottom: 1px solid #fff;}
#wrapper .wrapper-sline{position: absolute;z-index:8888;left: 24px;top: 0;height: 182px;font-size: 1px;border-left: 1px solid #ccc;border-right: 1px solid #fff;}
#wrapper .close-span:before{content:"\e641"}
#wrapper .refresh-span:before{content:"\e612";font-size:12px;}
#wrapper .close-span,#wrapper .refresh-span{display: inline-block;height: 16px;top: 50%;margin-top: -12px;left:5px;width: 16px;position: absolute;}
#wrapper .prohibit{color:#999;z-index: 7777;}
#wrapper .prohibit:hover{background-color:#f3f3f3;cursor:default;}

