@{
    Layout = "~/views/platform/h5/MasterPage/IFrame.cshtml"; //母版页
}

<form method="post" singoo-data-ajax="true" singoo-data-dialog="true" action="/platform/SMSTemplate/@(ViewBag.ParamAction)">
    <script type="text/html" id="singoo-template">
        {{#result}}
        <div class="form-box">
            <ul>
                <li class="form-item clear-fix">
                    <div class="form-item-title">
                        模板名称：
                    </div>
                    <div class="form-item-con text-item focus-item">
                        <input name="TextBox1" type="text" value="{{TemplName}}" maxlength="255" id="TextBox1" placeholder="请输入模板名称" required="required" />
                    </div>
                </li>
                <li class="form-item clear-fix">
                    <div class="form-item-title">
                        模板标题：
                    </div>
                    <div class="form-item-con text-item focus-item">
                        <input name="TextBox2" type="text" value="{{TemplTitle}}" maxlength="255" id="TextBox2" placeholder="请输入模板标题" required="required" />
                    </div>
                </li>
                <li class="form-item clear-fix">
                    <div class="form-item-title">
                        模板云代号：
                    </div>
                    <div class="form-item-con text-item focus-item">
                        <input name="TextBox3" type="text" value="{{TemplCode}}" maxlength="50" id="TextBox3" />
                    </div>
                </li>
                <li class="form-item clear-fix">
                    <div class="form-item-title">
                        模板文本：
                    </div>
                    <div class="form-item-con text-item focus-item">
                        <textarea name="TextBox4" rows="3" cols="60" id="TextBox4" required="required">{{TemplBody}}</textarea>
                    </div>
                </li>
                <li class="form-item clear-fix">
                    <div class="form-item-title">
                        模板参数：
                    </div>
                    <div class="form-item-con text-item focus-item">
                        <textarea name="TextBox5" rows="3" cols="60" id="TextBox5" required="required">{{TemplKeys}}</textarea>
                    </div>
                </li>
                <li class="btn-box">
                    <input type="submit" name="btnok" value="确 认" id="btnok" class="btn-style sure-btn" />
                    <input id="btncancel" onclick="$.dialog.close();" type="button" value="取 消(ESC)" class="btn-style cancel-btn" />
                </li>
            </ul>
        </div>
        {{/result}}
    </script>
</form>

<script>
    var json = @Html.Raw(ViewBag.InitData); //数据
    var tmpl=$("#singoo-template").html(); //模板
    h5.render($("form"),tmpl,json); //渲染并显示模板
</script>