@{
    Layout = "~/views/platform/h5/MasterPage/MasterDefault.cshtml"; //母版页
}

<form method="post" singoo-data-ajax="true" singoo-data-list="true">
    <div class="top-fix clear-fix">
        <div class="clear-fix">
            <ul class="btn-group clear-fix">
                <li>
                    <label class="label-box" for="checkall">
                        <input type="checkbox" class="common-check" id="checkall" />
                        <span></span>全选
                    </label>
                </li>
                <li>
                    <a singoo-action="BatDelete"><i class='iconfont'>&#xe6eb;</i><span>删除</span></a>
                </li>
            </ul>
            <ul class="btn-group clear-fix">
                <li class="blue">
                    <a singoo-action="Add" singoo-data-url="/platform/SMSTemplate/Edit" singoo-dialog-param="增加模板|680|400">
                        <i class="iconfont">&#xe611;</i><span>新增</span>
                    </a>
                </li>
            </ul>
            <div class="search-box focus-item fr">
                <input name="key" singoo-search-item="true" type="text" placeholder="请输入模板名称" />
                <input type="button" singoo-action="Search" name="searchbtn" value="&#xe60a;" class="search-btn iconfont" />
            </div>
        </div>
    </div>
    <table class="tab-con" style="margin-top: 50px;" id="rowItems">
        <tr class="tab-title">
            <td style="width: 60px;"></td>
            <td>
                名称
            </td>
            <td>
                标题
            </td>
            <td>
                云代号
            </td>
            <td style="width: 80px;">
                操作
            </td>
        </tr>
        <tbody id="singoo-content"></tbody>
        <script id="singoo-template" type="text/html">
            {{#data}}
            <tr>
                <td>
                    <label>
                        <input name="chk" type="checkbox" class="common-check" value="{{AutoID}}" />
                        <span></span>
                    </label>
                    <input type="hidden" name="AutoID" value="{{AutoID}}" />
                </td>
                <td>
                    {{TemplName}}
                </td>
                <td>
                    {{TemplTitle}}
                </td>
                <td>
                    {{TemplCode}}
                </td>
                <td>
                    <div class="icon-btn clear-fix">
                        <a class="iconfont" singoo-action="Modify" singoo-data-url="/platform/SMSTemplate/Edit" singoo-data-urlext="&opid={{AutoID}}" singoo-dialog-param="编辑模板|680|400">
                            &#xe67f;<i>编辑</i>
                        </a>
                        <a singoo-action="Delete" singoo-data-id="{{AutoID}}" class="iconfont">&#xe6eb;<i>删除</i></a>
                    </div>
                </td>
            </tr>
            {{/data}}
            {{^data}}
            <tr><td colspan='5'> 没有找到任何数据</td></tr>
            {{/data}}
        </script>        
    </table>
    <!--分页 start-->
    <div id="singoo-pager"></div>
    <!--分页 end-->
</form>