@{
    Layout = "~/views/platform/h5/MasterPage/MasterDefault.cshtml"; //母版页
}

<form method="post" singoo-data-ajax="true" singoo-data-list="true">
    <div class="top-fix clear-fix">
        <div class="clear-fix">
            <ul class="btn-group clear-fix">
                <li>
                    <label class="label-box" for="checkall">
                        <input type="checkbox" class="common-check" id="checkall" />
                        <span></span>全选
                    </label>
                </li>
                <li>
                    <a singoo-action="BatDelete"><i class='iconfont'>&#xe6eb;</i><span>删除</span></a>
                </li>
            </ul>
            <ul class="btn-group clear-fix">                
                <li>
                    <a singoo-action="SetSort" singoo-data-url="/platform/Ads/SetSort"><i class='iconfont'>&#xe604;</i><span>保存排序</span></a>
                </li>
            </ul>
            <ul class="btn-group clear-fix">
                <li class="blue">
                    <a singoo-action="Add" singoo-data-url="/platform/Ads/Edit" singoo-data-urlext="&PlaceID=@(ViewBag.PlaceID)" singoo-dialog-param="增加广告|680|460">
                        <i class="iconfont">&#xe611;</i><span>新增</span>
                    </a>
                </li>
            </ul>
            <div class="search-box focus-item fr">
                <input name="key" singoo-search-item="true" type="text" id="key" placeholder="请输入广告名称" />
                <input type="button" singoo-action="Search" name="searchbtn" value="&#xe60a;" id="searchbtn" class="search-btn iconfont" />
            </div>
        </div>
    </div>
    <table class="tab-con" style="margin-top: 50px;" id="rowItems">
        <tr class="tab-title">
            <td style="width: 60px;"></td>
            <td>
                广告名称
            </td>
            <td>
                类型
            </td>
            <td>
                起止时间
            </td>
            <td style="width: 100px;">
                状态
            </td>
            <td style="width: 150px;">
                排序
            </td>
            <td style="width: 80px;">
                操作
            </td>
        </tr>
        <tbody id="singoo-content"></tbody>
        <script id="singoo-template" type="text/html">
            {{#data}}
            <tr>
                <td>
                    <label>
                        <input name="chk" type="checkbox" id="chk" class="common-check" value="{{AutoID}}" />
                        <span></span>
                    </label>
                    <input type="hidden" name="AutoID" value="{{AutoID}}" />
                </td>
                <td>
                    {{AdName}}
                </td>
                <td>
                    {{AdType}}
                </td>
                <td>
                    {{BeginDate}}
                    -
                    {{EndDate}}
                </td>
                <td>
                    {{{IsAudit}}}
                </td>
                <td class="short-input">
                    <input type="number" name="txtSort" {{#Sort}} value="{{Sort}}" {{/Sort}} {{^Sort}} value="99999" {{/Sort}} id="txtSort" step="1" />
                </td>
                <td>
                    <div class="icon-btn clear-fix">
                        <a class="iconfont" singoo-action="Modify" singoo-data-url="/platform/Ads/Edit" singoo-data-urlext="&opid={{AutoID}}" singoo-dialog-param="编辑广告|680|460">
                            &#xe67f;<i>编辑</i>
                        </a>
                        <a singoo-action="Delete" singoo-data-id="{{AutoID}}" class="iconfont">&#xe6eb;<i>删除</i></a>
                    </div>
                </td>
            </tr>
            {{/data}}
            {{^data}}
            <tr><td colspan='7'> 没有找到任何数据</td></tr>
            {{/data}}
        </script>
    </table>
    <!--分页 start-->
    <div id="singoo-pager"></div>
    <!--分页 end-->
</form>