<?xml version="1.0" encoding="utf-8"?>
<ArrayOfLanguage>
  <Language>
    <LangName>zh-cn</LangName>
    <LangFullName />
    <Alias>中文-简体</Alias>
  </Language>
  <Language>
    <LangName>zh-tw</LangName>
    <LangFullName />
    <Alias>中文-繁体</Alias>
  </Language>
  <Language>
    <LangName>en</LangName>
    <LangFullName />
    <Alias>英文</Alias>
  </Language>
  <Language>
    <LangName>ja-jp</LangName>
    <LangFullName />
    <Alias>日语</Alias>
  </Language>
  <Language>
    <LangName>ko-kr</LangName>
    <LangFullName />
    <Alias>韩语</Alias>
  </Language>
  <Language>
    <LangName>fr</LangName>
    <LangFullName />
    <Alias>法语</Alias>
  </Language>
  <Language>
    <LangName>de</LangName>
    <LangFullName />
    <Alias>德语</Alias>
  </Language>
  <Language>
    <LangName>ru</LangName>
    <LangFullName />
    <Alias>俄语</Alias>
  </Language>
  <Language>
    <LangName>ar-sa</LangName>
    <LangFullName />
    <Alias>阿拉伯语</Alias>
  </Language>
</ArrayOfLanguage>