<?xml version="1.0" encoding="utf-8"?>
<ArrayOfOAuthConfig>
  <OAuthConfig>
    <OAuthKey>QQ</OAuthKey>
    <OAuthName>腾迅QQ登录</OAuthName>
    <ShowImg>/include/images/thirdlogin/qqservice.gif</ShowImg>
    <OAuthAppId>bb</OAuthAppId>
    <OAuthAppKey>aa</OAuthAppKey>
    <ReturnUri>http://www.singoo.top/include/thirdlogin/qq/return_url.aspx</ReturnUri>
    <ApplyUrl>http://connect.qq.com/</ApplyUrl>
    <APIUrl>/include/thirdlogin/qq/index.aspx</APIUrl>
    <Remark>
      用户使用已有的QQ号码即可登录网站，QQ一键登录更可减少登录交互操作，大大降低网站注册门槛，提升购物体验，给网站带来海量新用户。&lt;br/&gt;
      同时打通QQ空间、朋友网、腾讯微博三大平台，一站互联全线打通。
    </Remark>
    <IsEnabled>true</IsEnabled>
  </OAuthConfig>
  <OAuthConfig>
    <OAuthKey>Weibo</OAuthKey>
    <OAuthName>新浪微博登录</OAuthName>
    <ShowImg>/include/images/thirdlogin/sinaservice.gif</ShowImg>
    <OAuthAppId />
    <OAuthAppKey />
    <ReturnUri>http://www.singoo.top/include/thirdlogin/sina/return_url.aspx</ReturnUri>
    <ApplyUrl>http://open.weibo.com/</ApplyUrl>
    <APIUrl>/include/thirdlogin/sina/index.aspx</APIUrl>
    <Remark>
      用户只要使用微博账号进行登录即可注册成为网站会员，帮助您提升网站的用户注册量和提升网站访问数据。
    </Remark>
    <IsEnabled>false</IsEnabled>
  </OAuthConfig>
  <OAuthConfig>
    <OAuthKey>Weixin</OAuthKey>
    <OAuthName>微信登录</OAuthName>
    <ShowImg>/include/images/thirdlogin/weixinservice.gif</ShowImg>
    <OAuthAppId />
    <OAuthAppKey />
    <ReturnUri>http://www.singoo.top/include/thirdlogin/weixin/return_url.aspx</ReturnUri>
    <ApplyUrl>https://open.weixin.qq.com/</ApplyUrl>
    <APIUrl>/include/thirdlogin/weixin/index.aspx</APIUrl>
    <Remark>
      微信OAuth2.0授权登录让微信用户使用微信身份安全登录第三方应用或网站，在微信用户授权登录已接入微信OAuth2.0的第三方应用后，第三方可以获取到用户的接口调用凭证（access_token），通过access_token可以进行微信开放平台授权关系接口调用，从而可实现获取微信用户基本开放信息和帮助用户实现基础开放功能等。
    </Remark>
    <IsEnabled>false</IsEnabled>
  </OAuthConfig>
  <OAuthConfig>
    <OAuthKey>Taobao</OAuthKey>
    <OAuthName>淘宝登录</OAuthName>
    <ShowImg>/include/images/thirdlogin/taobaoservice.gif</ShowImg>
    <OAuthAppId />
    <OAuthAppKey />
    <ReturnUri>http://www.singoo.top/include/thirdlogin/taobao/return_url.aspx</ReturnUri>
    <ApplyUrl>http://open.taobao.com/</ApplyUrl>
    <APIUrl>/include/thirdlogin/taobao/index.aspx</APIUrl>
    <Remark>
      淘宝的Taobao ID（淘帐号）产品，采用国际通用的OAuth2.0标准协议，作为用户身份验证与授权协议，支持网站、手机客户端、桌面客户端。
    </Remark>
    <IsEnabled>false</IsEnabled>
  </OAuthConfig>
  <OAuthConfig>
    <OAuthKey>AlipayExp</OAuthKey>
    <OAuthName>支付宝快捷登录</OAuthName>
    <ShowImg>/include/images/thirdlogin/alipayexpservice.gif</ShowImg>
    <OAuthAppId />
    <OAuthAppKey />
    <ReturnUri>http://www.singoo.top/include/thirdlogin/alipayexp/return_url.aspx</ReturnUri>
    <ApplyUrl>https://open.alipay.com/platform/home.htm</ApplyUrl>
    <APIUrl>/include/thirdlogin/alipayexp/index.aspx</APIUrl>
    <Remark>
      接入支付宝登录功能，可以让开发者的网站在用户登录支付宝账号后，获得用户的支付宝UID，实现账户体系打通后快速登录。
    </Remark>
    <IsEnabled>false</IsEnabled>
  </OAuthConfig>
</ArrayOfOAuthConfig>